.Header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid #eee;
  &__tabs {
    display: flex;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;
    &__not {
      height: 2.5rem;
      width: 2.5rem;
    }
    &__box {
      width: 180px;
      height: 2.5rem;
      box-shadow: 1.5rem;
      padding: 0.625rem 1.5rem;
      font-size: 0.875rem;
      display: flex;
      border: 1px solid #cac4d0;
      border-radius: 1.5rem;
      gap: 0.5rem;
      font-weight: 500;
      color: #49454f;
      display: flex;
      align-items: center;
    }
    &__ava {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  &__left {
    display: flex;
  }
  &__underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #7052e7;
    transition: left 0.3s ease, width 0.3s ease;
  }
  &__tabs {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-left: 2rem;
    cursor: pointer;
  }
}

.tab {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  color: #1d1b20;
  height: 4rem;
  transition: color 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  min-width: 100px;
  & svg {
    font-size: 1.2rem;
  }
}

.tab__active {
  color: #7052e7;
  font-weight: bold;
}
.greyColor {
  color: #938b9e !important;
}

.primaryColor {
  color: #7052e7 !important;
}

@media all and (max-width: 767px) {
  .Header {
    width: 100%;
    &__tabs {
      display: none;
    }
    &__right {
      &__box {
        display: none;
      }
    }
  }
}
